---
import { Icon } from "astro-iconify";
import Card from "./Card.astro";

interface Props {
  email: string;
}

const { email } = Astro.props;
---

<Card class="group/contact">
  <div class="flex w-full flex-col items-center justify-center py-10">
    <p class="heading text-2xl">Contact me</p>
    <div class="flex flex-row gap-1">
      <p>Contact me at</p>
      <a href={`mailto:${email}`} class="font-semibold">{email}</a>
    </div>
    <p>or give me a bell using the form below</p>

    <form
      class="m-8 flex w-full flex-col items-center justify-center gap-8 rounded border-2 border-black/5 p-8"
      id="contact-form"
      action="javascript:void(0)"
    >
      <div class="relative w-full">
        <input
          id="name"
          name="name"
          type="text"
          class="peer mx-0 my-4 w-full rounded border-0 border-b-2 border-gray-300 p-4 text-black placeholder-transparent ring-black focus:shadow-lg focus:ring-1"
          placeholder="John Doe"
          required
        />
        <label
          for="name"
          class="absolute -top-2.5 left-2 text-xl text-gray-800 transition-all peer-placeholder-shown:top-7 peer-placeholder-shown:text-xl peer-placeholder-shown:text-gray-800 peer-focus:-top-3.5 peer-focus:text-sm peer-focus:text-gray-600"
          >Name</label
        >
      </div>

      <div class="relative w-full">
        <input
          id="email"
          name="email"
          type="email"
          class="peer mx-0 my-4 w-full rounded border-0 border-b-2 border-gray-300 p-4 text-black placeholder-transparent ring-black focus:shadow-lg focus:ring-1"
          placeholder="john@doe.com"
          required
        />
        <label
          for="email"
          class="absolute -top-2.5 left-2 text-xl text-gray-800 transition-all peer-placeholder-shown:top-7 peer-placeholder-shown:text-xl peer-placeholder-shown:text-gray-800 peer-focus:-top-3.5 peer-focus:text-sm peer-focus:text-gray-600"
          >Email</label
        >
      </div>

      <div class="relative w-full">
        <textarea
          id="message"
          name="message"
          class="peer mx-0 my-4 w-full rounded border-0 border-b-2 border-gray-300 p-4 text-black placeholder-transparent ring-black focus:shadow-lg focus:ring-1"
          placeholder=" "
          required></textarea>
        <label
          for="message"
          class="absolute -top-2.5 left-2 text-xl text-gray-800 transition-all peer-placeholder-shown:top-7 peer-placeholder-shown:text-xl peer-placeholder-shown:text-gray-800 peer-focus:-top-3.5 peer-focus:text-sm peer-focus:text-gray-600"
          >Your Message</label
        >
      </div>

      <div
        id="error-msg"
        class="hidden w-full flex-col justify-center gap-2 rounded border-2 border-red-600 p-4 text-center"
      >
        <p class="w-full text-center text-xl font-medium" id="error-string">
          Oops!
        </p>
      </div>

      <button
        id="submit"
        class="group/btn flex h-fit w-full flex-grow items-center justify-center gap-4 rounded-xl p-2 text-xl shadow-md transition-all hover:scale-105 hover:bg-white hover:shadow-xl active:scale-90 group-hover:bg-white"
        >Send
        <Icon
          name="iconamoon:send-fill"
          size={24}
          class="group-hover/btn:animate-pulse"
        />
      </button>
    </form>

    <div
      id="success-msg"
      class="m-8 hidden w-full flex-col justify-center gap-8 rounded border-2 border-black/5 p-8 text-center"
    >
      <p class="w-full text-center text-3xl font-medium">
        Thanks for contacting me!
      </p>
      <p class="">I'll get back to you as soon as possible</p>

      <button
        id="send-another"
        class="group/btn flex h-fit flex-grow items-center justify-center gap-4 rounded-xl p-2 text-xl shadow-md transition-all hover:scale-105 hover:bg-white hover:shadow-xl active:scale-90 group-hover:bg-white"
      >
        Want to send me another message?
      </button>
    </div>
  </div>
</Card>

<script>
  import { type ContactResponse } from "../types/contact_response";

  const contactForm = document.getElementById("contact-form");
  const contactFormBtn = document.getElementById("submit") as HTMLButtonElement;
  const successMsg = document.getElementById("success-msg");
  const sendAnotherBtn = document.getElementById("send-another");
  const errorMsg = document.getElementById("error-msg");

  sendAnotherBtn?.addEventListener("click", () => {
    contactForm?.classList.remove("hidden");
    contactForm?.classList.add("flex");
    successMsg?.classList.add("hidden");
    successMsg?.classList.remove("flex");
  });

  contactForm?.addEventListener("submit", submit);

  async function submit(e: SubmitEvent) {
    e.preventDefault();
    errorMsg?.classList.add("hidden");
    errorMsg?.classList.remove("flex");
    contactFormBtn.disabled = true;
    const formData = new FormData(e.currentTarget as HTMLFormElement);

    try {
      const response = await fetch("/api/contact", {
        method: "POST",
        body: formData,
      });

      if (response.status !== 200) {
        const data = await response.json();
        console.log(data);
        showErrorMsg(data);
        return;
      }

      contactForm?.classList.add("hidden");
      contactForm?.classList.remove("flex");
      successMsg?.classList.remove("hidden");
      successMsg?.classList.add("flex");
      contactFormBtn.disabled = false;

      return;
    } catch (error) {
      console.error("Error:", error);
      showErrorMsg();
    }
  }

  function showErrorMsg(data?: ContactResponse) {
    errorMsg?.classList.remove("hidden");
    errorMsg?.classList.add("flex");
    contactFormBtn.disabled = false;

    const errorNode = document.getElementById("error-string");
    if (errorNode) {
      errorNode.innerText = data?.message || "";
      errorMsg?.appendChild(errorNode);
    }

    data?.issues?.forEach((issue) => {
      const errorNode = document.createElement("p");
      errorNode.innerText = issue;
      errorMsg?.appendChild(errorNode);
    });
  }
</script>
