---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["flex  flex-col gap-8", className]}>
  <div class="flex flex-col gap-2">
    <h1 class="text-8xl text-gray-800">Nick Leslie</h1>
    <h2>Engineering People Lead and Full-Stack Software Engineer</h2>
    <p class="max-w-[20rem]">
      Proven, commercial experience delivering accessible, quality web
      applications
    </p>
  </div>
  <slot />
</div>
