---
import { Icon } from "astro-iconify";

interface Props {
  class?: string;
  external?: boolean;
  icon: string;
  href: string;
  size?: number;
  title: string;
}

const {
  class: className,
  external,
  icon,
  href,
  size = 20,
  title,
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : ""}
  rel={external ? "noopener noreferrer" : ""}
  title={title}
  class:list={[
    "group/btn flex h-fit flex-grow items-center justify-center gap-4 rounded-xl p-2 text-xl shadow-md transition-all hover:scale-105 hover:bg-white hover:shadow-xl hover:outline hover:outline-1 hover:outline-gray-800 active:scale-90 group-hover:bg-white dark:shadow-slate-700 dark:hover:shadow-slate-800 dark:hover:outline dark:hover:outline-1 dark:hover:outline-slate-600 dark:group-hover:bg-slate-600",
    className,
  ]}
>
  <slot />
  <Icon class="group-hover/btn:animate-pulse" size={size} name={icon} />
</a>
