---
import Icon from "./Icon.astro";

interface Props {
  class?: string;
  external?: boolean;
  icon: string;
  href: string;
  size?: number;
  title: string;
  "aria-label"?: string;
}

const {
  class: className,
  external,
  icon,
  href,
  size = 20,
  title,
  "aria-label": ariaLabel,
} = Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : ""}
  rel={external ? "noopener noreferrer" : ""}
  aria-label={ariaLabel || title}
  class:list={[
    "group/btn hover:bg-bg-hover group-hover:bg-bg-hover flex h-fit flex-grow items-center justify-center gap-4 rounded-xl p-2 text-xl shadow-sm transition-all hover:scale-[1.01] hover:shadow-md active:scale-100",
    className,
  ]}
>
  <slot />
  <Icon
    class="group-hover/btn:animate-pulse"
    size={size}
    name={icon}
    decorative={true}
  />
</a>
