---
import Icon from "./Icon.astro";

interface Props {
  class?: string;
  external?: boolean;
  icon: string;
  href: string;
  size?: number;
  title: string;
}

const {
  class: className,
  external,
  icon,
  href,
  size = 20,
  title,
} = Astro.props;

const hasSlot = Astro.slots.has("default");
---

<a
  class:list={[
    "group flex flex-row items-center gap-2 transition-all hover:fancy",
    className,
  ]}
  target={external ? "_blank" : ""}
  rel={external ? "noopener noreferrer" : ""}
  title={title || href}
  href={href}
>
  <slot />
  <Icon
    class:list={[
      "transition-all group-hover:scale-110 group-hover:animate-pulse",
      { "group-hover:translate-x-2": hasSlot },
    ]}
    name={icon}
    size={size}
  />
</a>
