---
import Project from "./Project.astro";
import useProjects from "../hooks/useProjects.hook";

const project = useProjects();
const projects = project.getProjects(4);
---

<div class="flex flex-grow flex-col gap-16">
  {
    projects.map((project, index) => {
      return (
        <>
          <Project project={project} />
          <hr />
        </>
      );
    })
  }
  <a href="/projects">See more</a>
</div>
