---
import ProjectCard from "./ProjectCard.astro";
import { type Project } from "../hooks/useContent.hook";

interface Props {
  projects: Project[];
}

const { projects } = Astro.props;
---

<ul
  class="flex flex-grow flex-row flex-wrap justify-center gap-4 md:gap-8 lg:flex-col"
>
  {
    projects.map((project) => {
      return (
        <li>
          <ProjectCard project={project} />
        </li>
      );
    })
  }
</ul>
