<!-- <article
  class="grid-rows-10 grid h-full grid-cols-1 lg:grid-cols-3 lg:grid-rows-3"
>
  <div
    class="row-span-5 row-start-1 h-full border-black lg:col-span-2 lg:row-span-2"
  >
    <img
      class="h-full w-full object-cover"
      src="https://firebasestorage.googleapis.com/v0/b/nick-leslie-dev.appspot.com/o/projects%2Ftrain_tracker_showcase.jpg?alt=media&token=b455d0df-78a1-493a-a66c-97b62188b69a"
    />
  </div>
  <div
    class="row-span-2 h-full border-l-2 border-t-2 border-black p-8 md:p-16 lg:row-span-2 lg:border-t-0"
  >
    <p>
      A WMATA train tracking application for monitoring train arrival times at
      your station in the DMV area. Built to run on the Raspberry Pi so you can
      place it in convenient location and see relevant station information at a
      glance.
    </p>
  </div>
  <div
    class="row-span-2 row-start-3 h-full border-t-2 border-black p-8 text-4xl md:p-16 lg:col-span-2"
  >
    WMATA Train Tracker
  </div>
  <div class="h-full border-l-2 border-t-2 border-black">Next project</div>
</article> -->
