---
import ProjectCard from "./ProjectCard.astro";
import { type Project } from "../hooks/useContent.hook";

interface Props {
  projects: Project[];
  class?: string;
}

const { projects, class: className } = Astro.props;
---

<ul
  class:list={[
    "flex flex-grow flex-row flex-wrap justify-center gap-6 md:gap-8 lg:flex-col",
    className,
  ]}
>
  {
    projects.map((project) => {
      return (
        <li class="w-full">
          <ProjectCard project={project} />
        </li>
      );
    })
  }
</ul>
