---
import type { Socials } from "../hooks/useContent.hook";
import IconLink from "./IconLink.astro";

interface Props {
  socials: Socials;
  class?: string;
}

const { socials, class: classname } = Astro.props;
---

<nav
  aria-label="Social media links"
  class:list={[
    "flex w-full flex-row flex-wrap justify-center gap-6",
    classname,
  ]}
>
  <IconLink
    icon="simple-icons:github"
    href={socials.github}
    title="Check out my GitHub"
    aria-label="Visit my GitHub profile"
    size={30}
    external
  />
  <IconLink
    icon="simple-icons:linkedin"
    href={socials.linkedin}
    title="Check out my LinkedIn"
    aria-label="Visit my LinkedIn profile"
    size={30}
    external
  />
</nav>
